{% autoescape None %}
<html>
 <head> 
 {% include "header.html" %}
 {% include "header_css.html" %}
 </head> 
 <body class="home-template"> 
  <header class="main-header"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-sm-12"> 
      <h1>plusplus7's blog</h1>  
      <h3>Life is tough, take it easy : )</h3> 
     </div> 
    </div> 
   </div> 
  </header> 
  <nav class="main-navigation"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-sm-12"> 
      <div class="navbar-header"> 
       <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu"> <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i> </span> 
      </div> 
      <div class="collapse navbar-collapse" id="main-menu"> 
       <ul class="menu"> 
         <li role="presentation"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;主&nbsp;&nbsp;页</a></li>
       {% for top in top_list %}
         <li role="presentation"><a href="/blog/area/{{ top['id'] }}">{{ top['name'] }}</a></li> 
       {% end %}
       </ul> 
      </div> 
     </div> 
    </div> 
   </div>
  </nav>
  <div class="container">
    <div class="row">
      <main class="col-md-8 main-content">
       {% for prev in prev_list %}
          {{ prev }}         
       {% end %}
      </main>
      <aside class="col-md-4 sidebar">
        <div class="widget">
         <h4 class="title">博客专栏</h4>
          <div class="content community">
            {% for side in side_list %}
              <p><a href="/blog/area/{{ side['id'] }}"> {{ side['name'] }}</a></p>
            {% end %}
          </div>
        </div>
        <div class="widget">
         <h4 class="title">所有分类</h4>
          <div class="content community">
            {% for area in area_list %}
              <p><a href="/blog/area/{{ area['id'] }}"> {{ area['name'] }}</a></p>
            {% end %}
          </div>
        </div>
        <div class="widget">
         <h4 class="title">友情链接</h4>
          <div class="content community">
          <p><a href="http://blog.csdn.net/sssogs/">ACM/ICPC解题报告</a><br/></p>
          <p><a href="http://fluyy.net">FLUYY</a><br/></p>
          <p><a href="http://lenny.sinaapp.com/">LENNY</a><br/></p>
          <p><a href="http://acm.cuit.edu.cn/">CUIT ACM校队</a><br/></p>
          <p><a href="http://www.linkgod.net/">LinkGod</a><br/></p>
          <p><a href="http://joychou.org/">JoyChou</a><br/></p>
          </div>
          </div>
      </aside>
    </div>
  </div>
{% include "footer_line.html" %}
{% include "footer_js.html" %}
{% include "latex_js.html" %}
</body>
</html>
